body{
      color:white;
      background: black;
      margin: 0px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 1000px;
}

header{
    border-bottom: solid 1px red;
    padding: 20px;
    font-size: 32px;
    color: red

}

.chamada {
     background: blue;
     padding-bottom: 100px;
     padding-top: 80px;
     display: flex;
     justify-content: center;

}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 40px;
}

.mangas{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Waves{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.mon{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.females{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.videos1{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.videos2{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.manga{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.Wuthering{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.poke{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.male{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.mais-videos1{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.mais-videos2{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.manga{
    color: red;
}

.Wuthering{
   color: red;
}

.poke{
    color: red;
}

.male{
    color: red;
}

.mais-videos1 h2{
    color: red;

}

.mais-videos2 h2{
    color: red;
}

.mangas img{
    opacity: 0.5;
    height: 400px;
}

.mangas img:hover{
    opacity: 1.0;
    border: 1px solid red;
}

.ENarane img{
    opacity: 0.5;
    height: 250px;
}

.ENarane img:hover{
    opacity: 1.0;
    border: 1px solid red;
}

