body{
      color:white;
      background: black;
      margin: 40px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 1000px;
      background-image: url(https://ih1.redbubble.net/image.1830276639.5442/flat,750x1000,075,t.jpg);
      
}

header{
    border-bottom: solid 1px red;
    padding: 20px;
    font-size: 32px;
    color: red;
    background: blue;
    border-radius: 50px;
    margin-bottom: 20px;

}

.chamada {
     background: blue;
     padding-bottom: 0px;
     padding-top: 0px;
     display: flex;
     justify-content: center;
     border-radius: 50px;

}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 30px;
}

.mangas{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Waves{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    border-radius: 50px;
}

.videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    border-radius: 50px;
}

.manga{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.Wuthering{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.mais-videos{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.manga{
    color: red;
}

.Wuthering{
   color: red;
}

.mais-videos h2{
    color: red;

}

.mangas img{
    opacity: 1;
    height: 400px;
    border-radius: 50px;
}

.mangas img:hover{
    opacity: 1.0;
    border: 1px solid red;
    border-radius: 50px;
}

.ENarane img{
    opacity: 0.5;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.ENarane img:hover{
    opacity: 1.0;
    border: 1px solid red;
}

